.container {
  display: flex;
  flex-direction: column;
    padding: 0 1rem;
    margin: 5rem 0

}

.title {
  font-size: 30px;
  font-weight: 600;
  color: #201515;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;    
  gap: 1rem;
}

.stepsListItems{
padding-left: 0;
}

.stepsItemIcon {
  width: 40px;
  height: 40px;
  background-color: #0074FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
  color: #fff;
}

.stepsItemIconNumber {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}   

.stepsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 60px;
}

.stepsItemTitle {
    font-size: 20px;
    font-weight: 500;
    color: #201515;
}

.stepsImageContainer{
    max-width: 100%;
    height: auto;
}

.stepsImage{
    width: 100%;
    height: auto;
}

.stepsItemDescription {
  font-size: 1rem;
  font-weight: 100;
  color: #201515;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}