.heroSectionImage{
    max-width: 100%;
    margin: 0 2rem;
    height: 740px;
    overflow: hidden;
    background-image: url('../../../assets/HeroImage.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}

.heroSectionContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    background-color: #0003;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width: 35%;
    margin: 2rem 2rem;
    padding: 1rem;
    border-radius:2rem;
}

.heroSectionTitle{
    font-size: 2rem;
    font-weight: 500;
    padding:0 0.5rem;
    margin: 0.2rem 0;
}

.heroSectionDescription{
    font-size: 1rem;
    font-weight: 100;
    padding:0 0.5rem;
}

.heroSectionButton{
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin: 1rem 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width: 768px) {
    .heroSectionImage{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        margin: 0;
        border-radius: 0;
    }

    .heroSectionContent{
        width: 70%;
        margin: 2rem 0;
    }

    .heroSectionTitle{
        font-size: 1.3rem;
    }

    .heroSectionDescription{
        font-size: 0.8rem;
    }
}