.benefitsCardsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefitsCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
    margin: 5rem 0 1rem 0;
}

.benefitsCards__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2rem;
    border-radius: 1rem;
    padding-right: 1.4rem;
    border: 1px solid #E7E7E7;
}

.benefitsCards__card__title {
    font-size: 1.6rem;
    padding-left: 1rem;
    color: #0059FF;
    font-weight: 350;

}

.benefitsCards__card__description {
    font-size: 0.8rem;
    font-weight: 200;
    padding-left: 16px;
    line-height: 1rem;
    color: #4F4F4F;
}

@media (max-width: 768px) {
    .benefitsCards {
        overflow-x: scroll;
        scrollbar-width: none;
        justify-content: flex-start;
        gap: 1rem;
    }
    
    .benefitsCards__card{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .benefitsCards__card__title{
        padding-right: 6rem;
    }
}