.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #0059FF;
}

.menuItem {
  font-size: 1rem;
  font-weight: 200;
}

.registrate {
  color: #ffffff;
  background-color: #0059FF;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
}

.regGratis {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}