.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #0059FF;
}

.menuItem {
  font-size: 1rem;
  font-weight: 200;
}

.registrate {
  color: #ffffff;
  background-color: #0059FF;
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  border: none;
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}

/* Mobile */

.hamburger {
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

.hamburgerLine {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #0059FF;
  margin: 4px 0;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .header {
    gap: 41rem;
  }
  .hamburger {
    display: block;
  }
}