.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  margin-left: 1rem;
  color: #0059FF;
}

.menu {
  padding: 0;
}

.menuItem {
  display: inline-block;
  padding: 0 1rem;
  font-weight: 200;
  font-size: 0.8rem;
}

.registrate {
  display: inline-block;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
  border: none;
  background-color: #0059FF;
  color: white;
  border-radius: 30px;  
  font-size: 0.8rem;
}

.hamburger {
  margin-right: 1rem;
  background-color: transparent;
  border: none;
}

.hamburgerLine {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #0059FF;
  margin: 4px 0;
}