.overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0
}

.overviewText {
    width: 50%;
    margin-left: 2rem;
}

.overviewTitle{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.overviewP {
    font-size: 1.1rem;
    font-weight: 100;
}

.montiP {
    color: #004BE6;
    font-weight: 450;
}

.overviewImgContainer {
    margin-right: 2rem;
    width: 40%;
    height: auto;
}

.overviewImg {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.descargaButton {
    background-color: #004BE6;
    color: white;
    border-radius: 30px;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 4px 0px 18px;
}

.icon {
    list-style: none;
    display: inline-block;  
    width: 26px;           
    height: 26px;          
    background-color: #004BE6;  
    border-radius: 50%;    
    border: 1px solid #000000;
    margin-left: -8px;
}

.iconsText {
    color: #B0B0B0;
    font-size: 1rem;
    font-weight: 300;
}

.iContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .overview {
        flex-direction: column;
        margin: 2rem 0

    }

    .overviewText {
        width: 100%;
        margin-left: 0;
    }

    .overviewTitle {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }

    .overviewP {
        font-size: 1rem;
        text-align: center;
    }

    .iconsContainer{
        flex-direction: column;
    }

    .icons {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }   

    .iconsText {
        margin-top: 0.5rem;
    }

    .overviewPspan {
        display: block;
        margin-top: 0.5rem;
    }

    .overviewImgContainer {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-right: 0;
    }
}